@inherits System.Web.Mvc.WebViewPage
@using Sitecore.Mvc
@using System.Web
@using SitecoreFeDemo.Helpers
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Sitecore demo</title>
</head>
<body>
    <h1>Sitecore demo to decouple layout from content, and render it using modern web technologies.</h1>

    <div id="MainPanel">@Html.Sitecore().Placeholder("main")</div>

    @Html.Sitecore().RenderDatasourceContents()
    
</body>
</html>